<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-lg btn-outline-primary" (click)="addColumn()">Add column</button>
    <button class="btn btn-sm btn-outline-secondary" (click)="open(content)" type="button">Login</button>
  </form>
</nav>

<ng-template #content let-c="close" let-d="dismiss">
  <div *ngIf="isRegistered">
    <div class="modal-header">
      <h4 class="modal-title">Logged</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="row">
          <label for="name">Name</label>
          <input type="text" id="name" name="first" required [(ngModel)]="loginFormData.name">
        </div>
        <div class="row">
          <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Submit</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </div>

  <div *ngIf="!isRegistered">
    <div class="modal-header">
      <h4 class="modal-title">Registration</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
          <div class="row">
            <label for="name">Name</label>
            <input type="text" id="name" name="first" required [(ngModel)]="registrationFormData.name">
          </div>
          <div class="row">
            <button type="submit" class="btn btn-default" [disabled]="!registrationForm.form.valid">Submit</button>
          </div>
        </form>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </div>
</ng-template>
