.column {
    min-height: 200px;
    width: 200px;
    padding: 20px;
    border: 1px solid #3aa;
    /* width: calc(100%); */
}

.container {
    width: 200px;
}

.highlight{
	border:solid 1px #0d0;
}