.column {
    min-height: 200px;
    width: 200px;
    padding: 20px;
}

.container {
    width: 200px;
}

.highlight{
	border:solid 1px #0d0;
}

.column-name{
    font-weight: bold;
    border: none;
}
.column-name:focus{
    border: 1px solid green;
}

.btn-add{
    margin-top: 10px;
    border: none;
}