<!-- <div class="d-flex flex-row container" [dragula]='"bag-one"' [dragulaModel]='column.tasks'>
  <div class="column justify-content-around">
    <div class="column-title row justify-content-around">
      <p>{{column.name}}</p>
    </div>
    <div>
      <div class="row" *ngFor="let task of column.tasks">
        <app-task [task]="task"></app-task>
      </div>
    </div>
  </div>
</div> -->
<div class="d-flex flex-row container">
  <div class="column justify-content-around">
    <div class="column-title row justify-content-around">
      <p>{{column.name}}</p>
    </div>
    <div>
      <div class="row" *ngFor="let task of column.tasks">
        <app-task [task]="task"></app-task>
      </div>
    </div>
  </div>
</div>
