.column {
    min-height: 200px;
    min-width: 100px;
    padding: 10px;
    border: 1px solid #3aa;
    /* width: calc(100%); */
}

.container {
    width: 100%;
}

.highlight{
	border:solid 1px #0d0;
}