<div class="d-flex flex-row container" [dndList]
              [dndModel]="column.tasks" style="padding: 0px">
  <div class="column justify-content-around">
    <div class="column-title row justify-content-around">
      <input [(ngModel)]="inputVal" type="text" placeholder="{{column.name}}" (focusout)="updateColumnName()">
    </div>
    <div>
      <div class="row" *ngFor="let task of column.tasks; let i = index" 
                [dndDraggable]
                [dndObject]="task"
                (dndMoved)="removeMovedItem(i, column)">
        <app-task [task]="task"></app-task>
      </div>
      <button class="btn btn-sm btn-outline-secondary" (click)="addTask()">Add task</button>
    </div>
  </div>
</div>
