.columns {
    width: 100%;
    min-height: 90vh;
    overflow: scroll;
}

.column-container {
    overflow: scroll;
    min-height: 90vh;
    height: 400px;
}

.toggle-drop{
    width: 200px;
    height: 20px;
    color: lightblue;
    cursor: move;
}

.background {
    background-color:  #3aa !important;
}