<div class="column-container" >
    <button class="btn btn-sm btn-outline-secondary" (click)="syncData()" type="button">Sync board</button>
    <button class="btn btn-sm btn-outline-secondary" (click)="addColumn()">Add column</button>
<p></p>
    <gridster style="background-color:#3aa;"[options]="options">
        <gridster-item [item]="item" *ngFor="let item of dashboard">
            <div class="toggle-drop " (mouseover)="scream()"  (mouseout)="screamBack()">hold to move</div>
            <app-column [column]="item.column"  [options]="options"></app-column>
        </gridster-item>
      </gridster>
  </div>

<p *ngIf="this.dataLoaded">
  {{this.userData[0].id}}
</p>
